/*  your css code here. If applicable */
.grid-container{
	display: grid;
	grid-template-columns:repeat(9, 215px);
	grid-auto-flow: column;
}
.grid-item{
	background-color: lightgray;
	height: 150px;
	width: 200px;
	border-radius: 5px;
	font-size: 40px;
	padding: 5px;
	display: flex;
	justify-content: center;
}